.box {
    width: 33.33%;
}

.boxMargin {
    margin: 20px 50px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.imageBox img {
    width: 100%;
    display: block;
    height: 250px;
    object-fit: contain;
}

.mainComponentBox {
    display: flex;
    flex-wrap: wrap;
}